.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1px;
  background-color: #000;
  grid-template-areas:
    "header"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main";
}

.headerMenu {
  grid-area: header;
  background-color: #222;
}

.Main {
  grid-area: main;
  display: flex;
  width: 100%;
  height: 100%;
}

.viewportWrapper {
  z-index: 1;
  flex: calc(100vw - 3rem);
  height: 100%;
  background-color: #222;
}

.viewport {
  z-index: 1;
  width: 100%;
  height: 100%;
}
